body {
  font-family: 'Oxygen', sans-serif;
  color: black;
  background-color: #00bcd4;
  text-align: center;
}
h1 {
  font-size: 2.75em;
}
hr {
  border-collapse: collapse;
  border-color: black;
  border-style: solid;
  border-right: none;
  border-left: none;
}
.button {
   display: inline-block;
   border-radius: 4px;
   background-color: #4CAF50;
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 15pt;
   padding: 10px 10px;
   width: 100px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
 }
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15pt;
  padding: 10px 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 24%;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button1:hover span {
  padding-right: 25px;
}
.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button1:disabled {
  cursor: not-allowed;
}
input[type=text]#answer {
  width: 150px;
  border-bottom: 2px solid black;
  margin: 10px;
}
input[type=text] {
  width: 250px;
  border: none;
  background: none;
  background-color: #00cdea;
  border-radius: 5px;
  transition: .4s ease-out;
  margin: 5px;
  resize: horizontal;
  text-align: center;
}
::-webkit-input-placeholder {
  color: black;
}
input[type=text]:focus {
  border-bottom: 2px solid black;
}
*:focus {
  outline: none;
}
button {
  margin: 5px;
  background-color: transparent;
  color: black;
  padding: 10px 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: .4s ease-out;
  border-radius: 15px;
}
button:hover:not(#yes) {
  color: white;
  background-color: black;
}
button:active:not(#yes) {
  background-color: black;
  transform: translateY(4px);
}
/*font-family: 'Arimo', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Oxygen', sans-serif;
*/