body {
  font-size:11pt;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Raleway', sans-serif;
}
header{
  font-family: 'Orbitron', sans-serif;
  font-size: 20pt;
}
a:link{
  color: white;
}
a:visited{
  color: 00e673;
}
a:hover{
  color: ff471a;
}
th{
  text-align: center;
  column-span: all;
  font-size: 16pt;
}
table, th, tr, td{
  border-collapse: collapse;
}
::selection{
  color: white;
  background: skyBlue;
}
#artwork{
  margin-right: 600px;
}
dl, #reqs{
  margin-left: 50px;
}
