body {
  font-size:11pt;
  font-family:Verdana;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
a:link{
  color: white;
}
a:visited{
  color: 00e673;
}
a:hover{
  color: ff471a;
}
th{
  text-align: center;
  column-span: all;
}
table, th, tr, td{
  border: 2px solid white;
  border-collapse: collapse;
}
::selection{
  color: white;
  background: green;
}
